In [1]:
##dictionary

a={"name": "kiran" , "location" : "chennai" , "age":"30"}

In [2]:
print(type(a))

<class 'dict'>

In [6]:
print(a.get("name"))

kiran

In [8]:
print(a.get("addr"))

None

In [10]:
print(a.get("addr",1))

1

In [11]:
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['name', 'location', 'age'])
dict_values(['kiran', 'chennai', '30'])
dict_items([('name', 'kiran'), ('location', 'chennai'), ('age', '30')])

In [17]:
a["addr"] = "annanagar"
print(a)

{'name': 'kiran', 'location': 'chennai', 'age': '30', 'addr': 'annanagar'}

In [18]:
del a["addr"]
print(a)

{'name': 'kiran', 'location': 'chennai', 'age': '30'}

In [19]:

##operators

##arithmetic operators

In [21]:
a=2
b=5


print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)
print(a//b)##florr division ##gives u quotient in a division
print(a%b)##modulo  ## gives remainder in a division

7
-3
10
32
0.4
0
2

In [22]:
##Assingnment operators

##assigning a value to the variable is called assignment variable

a=5
b=5

In [24]:
##relational operator

##checking the relationship of the given operator

a=5
b=5

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

True
False
False
False
True
True

In [25]:
##logical operators

print(True and True)
print(True and False)

True
False

In [26]:
print(True or True)
print(True or False)

True
True

In [27]:
print(not True)

False

In [29]:
##loops

##if else loop

name = "bharath"## assignment operator is used
if name =="bharath":##relational operator is used
    print("yes")
else:
    print("no")

yes

In [32]:
name = "bharath"
age = "23"
if name== "bharath" and age=="23":##logical operator
    print("yes")
else: 
    print("no")

yes

In [35]:
name="kiran"
age="23"

if name=="bharath" or age=="23":  ##intha place
    print("yes")
elif name=="kiran":
    print("kiran")
else:
    print("no")

yes

In [ ]:
## assignment la yes potukon da