In [21]:
##dictionary

a={"name": "kiran" , "location" : "chennai" , "age":"30"}

In [22]:
print(type(a))

<class 'dict'>

In [23]:
print(a.get("name"))

kiran

In [24]:
print(a.get("addr"))

None

In [25]:
print(a.get("addr",1))

1

In [26]:
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['name', 'location', 'age'])
dict_values(['kiran', 'chennai', '30'])
dict_items([('name', 'kiran'), ('location', 'chennai'), ('age', '30')])

In [27]:
a["addr"] = "annanagar"
print(a)

{'name': 'kiran', 'location': 'chennai', 'age': '30', 'addr': 'annanagar'}

In [28]:
del a["addr"]
print(a)

{'name': 'kiran', 'location': 'chennai', 'age': '30'}

In [29]:

##operators

##arithmetic operators

In [30]:
a=2
b=5


print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)
print(a//b)##florr division ##gives u quotient in a division
print(a%b)##modulo  ## gives remainder in a division

7
-3
10
32
0.4
0
2

In [31]:
##Assingnment operators

##assigning a value to the variable is called assignment variable

a=5
b=5

In [32]:
##relational operator

##checking the relationship of the given operator

a=5
b=5

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

True
False
False
False
True
True

In [33]:
##logical operators

print(True and True)
print(True and False)

True
False

In [34]:
print(True or True)
print(True or False)

True
True

In [35]:
print(not True)

False

In [36]:
##loops

##if else loop

name = "bharath"## assignment operator is used
if name =="bharath":##relational operator is used
    print("yes")
else:
    print("no")

yes

In [37]:
name = "bharath"
age = "23"
if name== "bharath" and age=="23":##logical operator
    print("yes")
else: 
    print("no")

yes

In [38]:
name="kiran"
age="23"

if name=="bharath" or age=="23":  
    print("yes")
elif name=="kiran":
    print("kiran")
else:
    print("no")

yes

In [3]:
##assignment1 


signal="red"
police="yes"

if signal=="red" and police=="yes":
    print("stop") 
elif signal=="red" and police=="no" :
    print("go")
else:
    print("invalid")


    
signal = "yellow"
police="yes"

if signal=="yellow" and police=="yes" :
    print("hold_break")
elif signal=="yellow" and police=="no":
    print("go")
else:
    print("invalid")

    
    
signal = "green"

if signal=="green" :
    print("go")
else:
    print("invalid")

stop
hold_break
go